@inherits ShareLaboPageBase
@layout BlankLayout

<PageTitle>@PageTitle</PageTitle>

<div class="d-flex flex-row gap-3 flex-wrap w-100 h-100 mt-3 justify-content-center align-items-center">
    <div class="d-flex flex-column" style="width: 30%; min-width: 300px;">
        <h1>ShareLabo</h1>
    </div>

    <EditForm EditContext="_editContext" FormName="login-form" OnValidSubmit="LoginAsync" id="login-form-id">
        <div class="d-flex flex-column gap-3" style="width: 30%; min-width: 300px;">
            <h2 class="text-center">ログイン</h2>

            @if (!string.IsNullOrWhiteSpace(_message))
            {
                <p class="text-danger">
                    @_message
                </p>
            }

            <div>
                <label for="accountIdInput" class="form-label">アカウントID</label>
                <input type="text" class="form-control" id="accountIdInput" placeholder="アカウントID" @bind-value="_loginViewModel.AccountId" name="_loginViewModel.AccountId" />
            </div>

            <div>
                <label for="passwordInput" class="form-label">パスワード</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="パスワード" @bind-value="_loginViewModel.Password" name="_loginViewModel.Password" />
            </div>

            <button id="loginButton" class="btn btn-primary" type="submit">
                <span id="loginButtonSpinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
                <span id="loginButtonAuthMessage" style="display:none;">認証中...</span>
                <span id="loginButtonLoginText">ログイン</span>
            </button>

            <div>
                <a href="@ShareLaboPagePath.Helper.UserRegister()">アカウントをお持ちでない方はこちら</a>
            </div>
        </div>
    </EditForm>
    
</div>